/* styles.css */

/* Genel Stiller */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.startBody {
    background-color: #3498db; /* Açık mavi renk */
    height: 50vh;
    padding: 30px; /* Arttırılmış iç boşluk */
    text-align: center;
    border-radius: 15px; /* Kare çerçeve için köşe yuvarlatma */
    display: flex; /* Flex konteyner olarak kullanma */
    flex-direction: column; /* İçeriği dikey yönde sırala */
    justify-content: center; /* Dikeyde ortalama */
    align-items: center; /* Yatayda ortalama */
}

/* Buton ve Tahmin Giriş Alanı Stilleri */
button,
input {
    border: none;
    padding: 10px 20px;
    border-radius: 50px; /* Kenarları dairesel yapma */
    font-size: 16px;
    margin-top: 10px;
}

button {
    background-color: #fffdfd; /* Beyaz renk */
    color: #3498db; /* Açık mavi renk */
}

button:hover {
    background-color: #3498db; /* Hover'da daha koyu mavi */
}

input {
    background-color: #fffdfd; /* Beyaz renk */
    color: #3498db; /* Açık mavi renk */
}

/* Metin Stilleri */
p {
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    background-color: #3498db; /* Arka plan rengi */
}

/* Puan Stilleri */
#score {
    font-size: 18px;

}